* {
  box-sizing: border-box;
}

body {
  background-color: honeydew;
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', Serif;
  font-size: 18px;
}

main {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

section {
  display: grid;
  grid-template-columns: 25% auto;
  grid-gap: 15px;
  align-items: start;
}

.resume-heading,
.resume-content p {
  margin-top: 0;
  font-family: 'Source Sans Pro', Sans-Serif;
  font-size: 16px;
}

.content-subheading {
  font-style: italic;
  font-size: 18px;
}
